body{
  background-color: rgb(253,253,253);
  font-family: "M PLUS 1p";
}
p{
  font-size: 23px;
  margin: 10px;
}
.container{
  margin: auto;
}
.explanation{
  color: #f19fc1;
}
h1 {
  color: #fa4792;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  /* border-top: dashed 3px #d2ddff; 上線*/
  border-bottom: dashed 3px #d2ddff;/*下線*/
}
h2 {
  margin: 2px;
}
header {
  object-position: bottom;
	position: relative;
  height: 20vh;
  background-image: url(../sun.jpg);
  width:1680px;
  height:300pX;
  object-fit: cover;
  background-repeat:  no-repeat;
}
.button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.button:hover {
  background: #67c5ff;
  color: white;
}
.better{
  margin-right: 20px;
}

ul, ol {
  padding: 0;
  position: relative;
}

li{
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../font/MaterialIcons-Regular.woff2) format('woff2'),
    url(../font/MaterialIcons-Regular.woff) format('woff'),
    url(../font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}