<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>@@@の投稿内容を確認</title>
</head>
<body>
<h1>@@@の投稿内容を確認</h1>

<p>検索</p>


<form action="/" method="get">
    <input type="submit" value="最初に戻る">
</form>

</body>
</html>
