<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>@@@の投稿内容を確認</title>
</head>
<body>
<h1>@@@の投稿内容を確認</h1>
<table>
  <thead>
  <tr>
    <th>都道府県</th>
    <th>文理</th>
    <td><%= @course %></td>
    <th>進路</th>
    <td><%= @free_text %></td>
    <th>作成日時</th>
  </tr>
  </thead>
</table>


<form action="/" method="get">
    <input type="submit" value="最初に戻る">
</form>

</body>
</html>
