<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>投稿内容を確認</title>
</head>
<body>
<h1> <% @prefecture.name %> 投稿内容を確認</h1>




<form action="/" method="get">
    <input type="submit" value="最初に戻る">
</form>

</body>
</html>
